<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Admin View</title>
    </head>
    <body>
        <header>Admin View</header>
        <div>
            <div style="font-size: small">
                <p>
                    <a href="<%= baseURL %>/">Back at home </a>
                </p>
               
            </div>

            <hr />
            <div>
                <a href="<%= baseURL %>/addCandidatePage">Add Candidate</a>
            </div>
            <div>
                <a href="<%= baseURL %>/pollResults">Poll Results</a>
            </div>
            <div>
                <a href="<%= baseURL %>/votingSummary">Voting Summary</a>
            </div>
        </div>
    </body>
</html>
